<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Qiming's FirstServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Qiming's FirstServer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1456</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1459</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1464</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1467</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1479</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1482</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1495</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1499</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1517</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1518</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1523</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1528</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1542</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1543</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1555</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1565</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_752</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_755</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_760</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_765</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_768</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_771</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
